.navbar-brand {
  padding: 7px 15px;
  width: 170px;

  div {
    float: left;
    padding-top: 10px;
  }
}

.navbar-text {
  margin-top: 11px;
  margin-bottom: 9px;
}

#logo {
  width: 37px;
  float: left
}

